<%= button_to tests_path, method: "get", remote: true, params: {show: "all"}, class: "btn btn-general btn-danger" do %>
  <i class="fa fa-list-alt" aria-hidden="true"></i>
  <span>ver todos</span>
<% end %>